@model IEnumerable<Business.Entities.Especialidad>

@{
    ViewData["Title"] = "EspecialidadIndex";
}

<h1>Especialidad</h1>

<p>
    <a asp-action="EspecialidadCreate">Crear Especialidad</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Editar", "EspecialidadEdit", new { id=item.ID }) |
                @Html.ActionLink("Eliminar", "EspecialidadDelete", new { id=item.ID })
            </td>
        </tr>
}
    </tbody>
</table>
