@model List<Business.Entities.Usuario>
@{
    ViewBag.Title = "Usuarios";
}

@foreach (var item in Model)
{
<div>
    @item.ID
    @item.Nombre
    @item.Apellido
    @item.NombreUsuario
    @item.Email
    @item.Habilitado
    <a href="@Url.Action("UsuarioEdit","Usuario", new { id = @item.ID })">Editar</a>
    <a href="@Url.Action("UsuarioDelete","Usuario", new { id = @item.ID })">Eliminar</a>
    <hr />
</div>
}
<a asp-action="UsuarioCreate" asp-controller="Usuario">Crear Usuario</a>