
@model IEnumerable<Business.Entities.DocenteCurso>
    ViewData["Title"] = "RegistroNotasIndex";
}

<h1>RegistrarNotasIndex</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDDocente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDCurso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDDocente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
       
                <!-- <td>
                    Html.ActionLink("Editar", "CursoEdit", new { id = item.ID }) |
                    Html.ActionLink("Eliminar", "CursoDelete", new { id = item.ID })
                </td>-->
            </tr>
        }
    </tbody>
</table>

